<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>More Downloader</title>

<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="card">
<h2>🚀 More Downloader</h2>

<input id="url" placeholder="Paste URL" onblur="loadPreview()">

<select id="mode">
    <option value="video">🎥 Video</option>
    <option value="audio">🎧 MP3</option>
</select>

<button onclick="startDownload()">⬇ Start Download</button>

<div id="preview"></div>

<div id="progressBar">
    <div id="progress"></div>
</div>

<p id="stats"></p>
</div>

<div class="card">
<h3>📜 Logs</h3>
<pre id="log"></pre>
</div>

<div class="card">
<h3>📂 History</h3>
<ul id="history"></ul>
</div>

<script src="/static/app.js"></script>

</body>
</html>