<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>More Downloader</title>

    <link href="/static/style.css" rel="stylesheet">
</head>

<body>

<div class="card">
    <h2>🚀 More Downloader</h2>

    <input id="url" onblur="loadPreview()" placeholder="Paste URL">

    <div class="mode-selector">
        <div class="mode-card active" data-mode="video">
            🎥 Video
            <small>HD • Best Quality</small>
        </div>

        <div class="mode-card" data-mode="audio">
            🎧 Audio
            <small>MP3 • Lightweight</small>
        </div>
    </div>

    <input type="hidden" id="mode" value="video">

    <button id="downloadBtn" onclick="startDownload()">
        <span id="btnText">⬇ Start Download</span>
        <span id="btnLoader" class="btn-loader hidden"></span>
    </button>
 
    <div id="preview"></div>
    <div id="previewLoader" class="loader hidden"></div>

    <div id="progressBar">
        <div id="progress"></div>
    </div>

    <p id="stats"></p>
</div>

<div class="card">
    <h3>📜 Logs</h3>
    <pre id="log"></pre>
</div>

<div class="card">
    <h3>📂 History</h3>
    <ul id="history"></ul>
</div>

<script src="/static/app.js"></script>

<div id="toast" class="toast hidden"></div>
</body>
</html>